* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  margin: 0 auto;
}

#gridContainer {
  margin: 0 auto;
  width: 600px;
  height: 600px; /* Fixed container height */

  border: solid black;
  display: flex;
  flex-wrap: wrap;
}

#gridColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: auto;
}

#gridElement {
  background-color: white;
  border: 1px solid #000;
}
